<!DOCTYPE html>
<html>
  <head>
    <title>Tutonic oDesk Test App</title>
    <%= stylesheet_link_tag    "reset", "style", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <section id="wrapper">
      <header id="header">
        <div id="logo"><%=link_to (image_tag "logo.png", :alt => "Tutonic Logo"), home_path%></div>
        <nav id="main_nav">
          <ul class="nav">
            <li><%= link_to "About", "#" %></li>
            <li><%= link_to "The Process", "#" %></li>
            <li><%= link_to "Login", home_path %></li>
            <li class="signup"><%= link_to "Sign Up", signup_path %></li>
          </ul>
        </nav>
      </header>
      <div id="content">
        <%=yield%>
      </div>
      <footer id="footer">
        <div>&copy; Tutonic LLC</div>
      </footer>
    </section>
  </body>
</html>